<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	
	<link  href="css/bootstrap.min.css" type="text/css" rel="stylesheet" />
	<script src="js/bootstrap.bundle.min.js"></script>

	<script src="js/jquery.min.js"></script>
	<script src="js/atv.js"></script>

	<link  href="css/base.css" type="text/css" rel="stylesheet" />
	<script src="js/base.js"></script>

	<script src="pic/data.js"></script>

	<style>
		@keyframes spin { from { transform:rotate(0deg); } to { transform:rotate(360deg); } }
		
		.fan_black {display:inline-block; width:64px; height:64px; margin:5px; animation:spin 1.5s linear infinite; }
		.fan_black:hover { fill:blue; }
	</style>
</head>

<body class="px-3">


<div class="mx-auto mt-3" style="width: 400px" id="app" >
	<form class="form-inline">
		<input type="text" class="form-control" placeholder="105" id="txtValue" size="10" value="100" onkeydown="javascript: if (window.event.keyCode==13) {return false}">
		<button type="button" id="Submit" path="page0" class="btn btn-outline-primary mx-3 my-3">Подсчитать</button>
	</form>
</div>

<br>

<ul>
<li><a href="#" path="">Home</a></li>
<li><a href="#" path="page0">Page 0</a></li>
<li><a href="#" path="page1">Page 1</a></li>
<li><a href="#" path="page2?id=89&text=work#my_good"><img class="rounded mr-2" alt="..." src="pic\folder.gif">Page 2</a></li>
<li><a href="#" path="page3#comment">Page 3</a></li>
<li><a href="#" path="page4">Page 4</a></li>
</ul>

<div id="view"></div>

<script>
    new ATV({
        el: '#Submit',
        routes: {
            'page0'     :   { tpl: function(){ return document.getElementById('tpl2').innerHTML },
                              data: function(){ this.greeting = 'tank!';   this.moreText = 'qwerty ...'; }},
        }
    })
    
    var app = new ATV({
        el: '#view',
        routes: {
            '*'         :   ['<p>Not Found!</p>'],
            ''          :   [['home']],
            'page1'     :   { tpl: function(){ return document.getElementById('tpl2').innerHTML },
                              data: function(){ this.greeting = 'world!';   this.moreText = 'ipsum ...'; },
                              el: "#Submit" },
            'page2'     :   { tpl: '<h1>Page 2: <%= data %></h1><p>Lorem ipsum...</p>',  data: 'I\'m page two!'},
            'page3'     :   ['<h1>Page 3: <%= $0 %></h1><p>Lorem ipsum...</p>', ['I\'m page three!']],
        }
    })

    app.route('page4', '<h1>Page 4: <%= heading %></h1><p>Url = <%= $req.url %></p>', { heading: 'I\'m page four!' });
</script>

<script type="text/html" id="home"><h1>Router FTW!</h1></script>
<script type="text/html" id="tpl2"><h1><%= $req.url %>: <%= greeting %></h1><p>
<%= moreText %>
<% if ($req.url === 'page1') print('test<br>', 123);
%>
</p>
</script>

<button type="button" class="btn btn-outline-primary mx-3" onclick="$('.toast').toast('show');">Toast</button>

<div id="fan2" class="fan_black" svg="fan2" onclick="$('.toast').toast('show');"></div>

<div id="fan1" class="fan_black" svg="fan" onclick="$('.toast').toast('show');"></div>


<div id="web" class="mx-auto mt-3" style="width: 600px"></div>

<div id="tpl" class="fixed-bottom border border-dark rounded m-2 p-2 w-50"></div>


<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
	<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
	  <div class="toast-header">
		<img src="pic/folder.gif" class="rounded me-2" alt="...">
		<strong class="me-auto">Bootstrap</strong>
		<small>11 mins ago</small>
		<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
	  </div>
	  <div class="toast-body">
		Hello, world! This is a toast message.
	  </div>
	</div>
</div>


<script>
	const TPL_Tab = `
		<img class="rounded mr-2" alt="..." src="pic/folder.gif">
		<% if (names.length) { %>
		<ul>
			<% names.forEach(function (name) { %>
			<%# Notice how the single quotation mark is escaped in the output HTML %>
			<li foo='<%= name + "'" %>'><%= name %></li>
			<% }); %>
		</ul>
		<% }; %>
	`;

	$(function(){
		tpl.innerHTML = ATV_TPL(TPL_Tab, {names: ['geddy', 'neil', 'alex']});
		parse_ALL();
	});
</script>


</body>
</html>